[Unit]
Description=Telegram
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/qorovul
ExecStart=/qorovul/env/bin/python /qorovul/app.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target